<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>board</title>
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <!-- 보드 -->
  <h1 class="a11yHidden">게시판</h1>

  <!-- 보드 내비 -->
  <nav class="board_nav">
    <h2 class="a11yHidden">게시판 메뉴</h2>
    <ul class="boardNav__list">
      <li class="boardNav__item"><a href="/" class="boardNav__link">주제</a></li> <!-- 수정해야함 -->
      <li class="boardNav__item"><a href="/" class="boardNav__link">인기글</a></li>
      <li class="boardNav__item"><a href="/" class="boardNav__link">같이해요</a></li>
      <li class="boardNav__item"><a href="/" class="boardNav__link">질의응답</a></li>
      <li class="boardNav__item"><a href="/" class="boardNav__link">자유게시판</a></li>
    </ul>
  </nav>

  <!-- 보드 메인 -->
  <div class="boardMain__item">
    <sapn class="boardMain__item__kind"> 같이해요</sapn>
    <dl>
      <dt class="boardMain__item__title">youtube 클론 프젝 같이 하실분~!</dt>
      <dd class="boardMain__item__paragraph sprite sprite__paragraph" ></dd>
    </dl>
    <ul class="boardMain__list">
      <li class="boardMain__item__who sprite sprite__who"><span></span>참여가능여부</li>
      <li class="boardMain__item__date sprite sprite__date"><span></span>날짜</li>
      <li class="boardMain__item__info sprite sprite__info"><span></span>정보</li>
      <li class="boardMain__item__NOP sprite sprite__NOP"><span></span>인원</li>
    </ul>
    <img src="./../images/icon_sprite_2x.png" class="boardMain__item__img sss">
    <a class="boardMain__item__link"></a>
  </div>
  

</body>

</html>