<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>board</title>
  <link rel="stylesheet preload" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>

  <h1 class="a11yHidden">배추마켓</h1>

  <!-- 보드 -->
  <h2 class="a11yHidden">게시판</h2>

  <!-- 보드 내비 -->
  <nav class="boardNav">
    <h3 class="a11yHidden" >내비게이션</h3>
    <form>
      <input type="button" class="boardNav__topic" value="주제">
      <input type="radio" id="popular" class="boardNav__input" name="topic" value="인기글">
      <label for="popular" class="boardNav__label" >인기글</label>
      <input type="radio" id="together" class="boardNav__input" name="topic" value="같이해요">
      <label for="together" class="boardNav__label">같이해요</label>
      <input type="radio" id="Q.N.A." class="boardNav__input" name="topic" value="질의응답">
      <label for="Q.N.A." class="boardNav__label">질의응답</label>
      <input type="radio" id="freeBoard" class="boardNav__input" name="topic" value="자유게시판">
      <label for="freeBoard" class="boardNav__label">자유게시판</label>
    </form>

  </nav>

  <!-- 보드 메인 -->
  <main class="boardMain">
    <h3 class="a11yHidden" >목록</h3>
    <ul class="boardMain__list">
      <!-- 1번 아이템  -->
      <li class="boardMain__item">
        <a class="boardMain__link" href="/">
          <span class="boardMain__item__kind"> 같이해요</span>
          <p class="boardMain__item__title">youtube 클론 프젝 같이 하실분~!</p>
          <p class="boardMain__item__content sprite sprite__paragraph">내용</p>
          <p class="boardMain__item__who sprite sprite__who">참여가능여부</p>
          <p class="boardMain__item__date sprite sprite__date">날짜</p>
          <p class="boardMain__item__info sprite sprite__info">북가좌동 &#183;<time datetime="2023-06-24T11:39">9분 전</time></p>
          <img src="/" class="boardMain__item__img" alt="이미지">
          <p class="boardMain__item__NOP sprite sprite__NOP">인원</p>
        </a>
      </li>

       
      <li class="qnaPost__item">
        <a href="qnaboard.html" class="qnaPost__link" >
          <span class="qnaPost__topic">JS</span>
          <p class="qnaPost__title">JS에서 함수 선언문과 표현식의 차이를 아직 잘 모르겠네요...</p>
          <p class="qnaPost__content">함수 선언문과 표현식의 차이를 아직 잘 모르겠네요...</p>
          <p class="qnaPost__sub">북가좌동 &#183; 
            <time datetime="2023-06-24T11:39">2일 전</time></p>
        </a>
      </li>


      <!-- 2번 아이템  -->
      <li class="boardMain__item">
        <a class="boardMain__link" href="/">
          <p class="boardMain__item__kind"> 같이해요</p>
          <p class="boardMain__item__title">youtube 클론 프젝 같이 하실분~!</p>
          <p class="boardMain__item__paragraph sprite sprite__paragraph">내용</p>
          <p class="boardMain__item__who sprite sprite__who">참여가능여부</p>
          <p class="boardMain__item__date sprite sprite__date">날짜</p>
          <p class="boardMain__item__info sprite sprite__info">정보</p>
          <p class="boardMain__item__NOP sprite sprite__NOP">인원</p>
          <img src="/" class="boardMain__item__img" alt="이미지">
        </a>
      </li>

      <!-- 3번 아이템  -->
      <li class="boardMain__item">
        <a class="boardMain__link" href="/">
          <p class="boardMain__item__kind"> 같이해요</p>
          <p class="boardMain__item__title">youtube 클론 프젝 같이 하실분~!</p>
          <p class="boardMain__item__paragraph sprite sprite__paragraph">내용</p>
          <p class="boardMain__item__who sprite sprite__who">참여가능여부</p>
          <p class="boardMain__item__date sprite sprite__date">날짜</p>
          <p class="boardMain__item__info sprite sprite__info">정보</p>
          <p class="boardMain__item__NOP sprite sprite__NOP">인원</p>
          <img src="/" class="boardMain__item__img" alt="이미지">
        </a>
      </li>

    </ul>
  </main>

</body>

</html>