<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>board</title>
  <link rel="stylesheet preload" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>


<body>
  <div class="sizingWrapper">
    <h1 class="a11yHidden">배추마켓</h1>

    <!-- 해더 -->
    <header class="mainHeader backHeader__p">
      <h2 class="a11yHidden">기본 정보</h2>
      <div class="timeInfo">
        <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
        <ul class="celluarInfo">
          <li class="celluarInfo__item">
            <span class="sprite spriteReceptionSensitivity"></span>
            <p class="a11yHidden">수신감도</p>
          </li>
          <li class="celluarInfo__item">
            <span class="sprite spriteLte"></span>
            <p class="a11yHidden">데이터 종류</p>
          </li>
          <li class="celluarInfo__item">
            <span class="sprite spriteBattery"></span>
            <p class="a11yHidden">배터리 잔량</p>
          </li>
        </ul>
      </div>
      <ul class="statusBar">
        <li class="statusBar__item backHeader__back">
          <a href="/" class="statusBar__link sprite spriteBack"><span class="a11yHidden">뒤로가기</span></a>
        </li>
        <li class="statusBar__item backHeader__title">
          <p>같이해요</p>
        </li>
      </ul>
    </header>

    <!-- 전체 내비 -->
    <nav class="commonNav">
      <h2 class="a11yHidden">전체 메뉴</h2>
      <ul class="commonNav__list">
        <li class="commonNav__item">
          <a href="" class="commonNav__link">
            <span class="sprite spriteFillHome"></span>
            <span>홈</span>
          </a>
        </li>
        <li class="commonNav__item">
          <a href="" class="commonNav__link">
            <span class="sprite spriteBoard"></span>
            <span>게시판</span>
          </a>
        </li>
        <li class="commonNav__item">
          <a href="" class="commonNav__link">
            <span class="sprite spritePlace"></span>
            <span>내 근처</span>
          </a>
        </li>
        <li class="commonNav__item">
          <a href="" class="commonNav__link">
            <span class="sprite spriteChat"></span>
            <span>채팅</span>
          </a>
        </li>
        <li class="commonNav__item">
          <a href="" class="commonNav__link">
            <span class="sprite spriteMyPage"></span>
            <span>내 정보</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- 보드 같이해요 -->
    <h2 class="a11yHidden">게시판 같이해요</h2>

    <!-- 보드 같이해요 내비 -->
    <nav class="togetherBoardNav siazingWrapper">
      <h3 class="a11yHidden">내비게이션</h3>
      <form class="togetherBoardNav__form">
        <div class="togetherBoardNav__box"><input type='button' value='🙌' class="togetherBoardNav__button" id="all">
          <label for="all" class="togetherBoardNav__label">전체</label>
        </div>
        <div class="togetherBoardNav__box"><input type='button' value='📝' class="togetherBoardNav__button" id="study">
          <label for="study" class="togetherBoardNav__label">스터디</label>
        </div>
        <div class="togetherBoardNav__box"><input type='button' value='💻' class="togetherBoardNav__button"
            id="project">
          <label for="project" class="togetherBoardNav__label">프로젝트</label>
        </div>
        <div class="togetherBoardNav__box"><input type='button' value='⚡' class="togetherBoardNav__button" id="offline">
          <label for="offline" class="togetherBoardNav__label">오프라인</label>
        </div>
        <div class="togetherBoardNav__box"><input type='button' value='🏆' class="togetherBoardNav__button"
            id="contest">
          <label for="contest" class="togetherBoardNav__label">공모전</label>
        </div>
      </form>
    </nav>

    <!-- 보드 같이해요 정렬 -->
    <!-- 팝업창으로 설정? -->
    <section class="togetherBoardSorting">
      <h3 class="a11yHidden">정렬</h3>
      <form class="togetherBoardSorting__form">
        <select name='sorting' class="togetherBoardSorting__select">
          <option value='Recently'>최근 작성순</option>
          <option value='soon' selected>가까운 일정순</option>
        </select>
        <select name='sorting' class="togetherBoardSorting__select">
          <option value='can' selected>모집중인 글만</option>
          <option value='all'>모든 글</option>
        </select>
      </form>
    </section>

    <button onclick="location.href='/views/board/writeBoard.html' " class="newContent">+</button>


    <!-- 보드 같이해요 메인-->
    <main class="togetherBoardMain">
      <h3 class="a11yHidden">메인</h3>
      <ul class="togetherBoardMain__list">
        <!-- 1번 아이템 -->
        <li class="togetherBoardMain__item">
          <a class="togetherBoardMain__link" href="/">
            <p class="togetherBoardMain__item__info"> <span class="spanHighligth">모집중</span> &#183; 스터디 &#183; 연남동</p>
            <p class="togetherBoardMain__item__title">멋사플레이스 클론 스터디 하실분</p>
            <p class="togetherBoardMain__item__who"> <span class="sprite spriteWho"></span> 누구나 참여 가능</p>
            <p class="togetherBoardMain__item__date"> <span class="sprite spriteCalGray"></span> <time datetime="2023-06-24T11:39">오늘, 오후 7:00</time></p>
            <img src="/images/hostImg.png"
                class="togetherBoardMain__item__profile" alt="이미지">
            <p class="togetherBoardMain__item__NOP"> 1/4명</p>
            <p class="togetherBoardMain__item__befor"><time datetime="2023-06-24T11:39">5분 전</time></p>
          </a>
        </li>

        <!-- 2번 아이템 -->
        <li class="togetherBoardMain__item">
          <a class="togetherBoardMain__link" href="/">
            <p class="togetherBoardMain__item__info"> 모집종료 &#183; 프로젝트 &#183; 남가좌제2동</p>
            <p class="togetherBoardMain__item__title">엔터이듬 클론 프로젝트 오프라인으로 하실분!</p>
            <p class="togetherBoardMain__item__who"> <span class="sprite spriteWho"></span>25-35세 &#124; 여자만 가능</p>
            <p class="togetherBoardMain__item__date"> <span class="sprite spriteCalGray"></span><time datetime="2023-06-24T11:39">5월1일 -14일, 오후 4:00</time></p>
            <img src="/images/hostImg.png"
                class="togetherBoardMain__item__profile" alt="이미지">
            <p class="togetherBoardMain__item__NOP"> 4/4명</p>
            <p class="togetherBoardMain__item__befor"><time datetime="2023-06-24T11:39">35분 전</time></p>
          </a>
        </li>

        <!-- 3번 아이템 -->
        <li class="togetherBoardMain__item">
          <a class="togetherBoardMain__link" href="/">
            <p class="togetherBoardMain__item__info"> 모집종료 &#183; 스터디 &#183; 연남동</p>
            <p class="togetherBoardMain__item__title">알고리즘 매일 아침마다 인증할 분</p>
            <p class="togetherBoardMain__item__who"> <span class="sprite spriteWho"></span> 누구나 참여 가능</p>
            <p class="togetherBoardMain__item__date"> <span class="sprite spriteCalGray"></span><time datetime="2023-06-24T11:39">5월 1일, 오전 10:00</time></p>
            <img src="/images/hostImg.png"
                class="togetherBoardMain__item__profile" alt="이미지">
            <p class="togetherBoardMain__item__NOP"> 4/4명</p>
            <p class="togetherBoardMain__item__befor"><time datetime="2023-06-24T11:39">40분 전</time></p>
          </a>
        </li>

        <!-- 4번 아이템 -->
        <li class="togetherBoardMain__item">
          <a class="togetherBoardMain__link" href="/">
            <p class="togetherBoardMain__item__info"> <span class="spanHighligth">모집중</span> &#183; 스터디 &#183; 연남동</p>
            <p class="togetherBoardMain__item__title">멋사플레이스 클론 스터디 하실분</p>
            <p class="togetherBoardMain__item__who"> <span class="sprite spriteWho"></span> 누구나 참여 가능</p>
            <p class="togetherBoardMain__item__date"> <span class="sprite spriteCalGray"></span> 오늘, 오후 7:00</p>
            <img src="/images/hostImg.png"
                class="togetherBoardMain__item__profile" alt="이미지">
            <p class="togetherBoardMain__item__NOP"> 3/3명</p>
            <p class="togetherBoardMain__item__befor"><time datetime="2023-06-24T11:39">59분 전</time></p>
          </a>
        </li>
      </ul>
    </main>
  </div>
</body>