<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>writeBoard</title>
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <h1 class="a11yHidden">배추마켓</h1>

  <!-- 보드 작성 -->
  <h2 class="a11yHidden">게시판 작성</h2>

  <!-- 제목 입력 -->
  <main>
  <form>
    <label for="text" class="a11yHidden formInput__label">제목입력</label>
    <input type="text" id="text" name="text" required class="formInput__input" placeholder="이웃과 어떤 활동을 할까요." />
  </form>
  <i>남가과제2동 근처 인기활동</i>
  <div>
    <a href="/" >💻 같이 프로젝트 해요</a>
    <a href="/" >📝 같이 스터디해요</a>
    <a href="/" >🍚 같이 밥먹어요</a>
    <a href="/" >⌨️ 같이 Lv2.알고리즘 풀어요</a>
    <a href="/" >🙈 오프라인으로 만나요</a>
  </div>
  <input type="button" class="button_next" value="다음"></input>
</main>
</body>