<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>writeBoard2</title>
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <h1 class="a11yHidden">배추마켓</h1>

  <!-- 보드 작성 -->
  <h2 class="a11yHidden">게시판 작성</h2>

  <span>어떤학생과 함께 할까요?</span>
  <div>
    <span></span><span>성별</span><span>누구나</span>
  </div>
  <div>
    <span>누구나 또는 같은 성별 모임으로 설정해주세요.</span>
    <form>
      <input type="checkbox" id="male" name="gender" value="male">
      <label for="male">모두</label><br>
      <input type="checkbox" id="male" name="gender" value="male">
      <label for="male">누구나</label><br>
      <input type="checkbox" id="female" name="gender" value="female">
      <label for="female">여자만</label><br>
      <input type="checkbox" id="other" name="gender" value="other">
      <label for="other">남자만ss</label>
    </form>
  </div>
  <form>
    <span></span><label for="" class="">나이</label><input type="number">
  </form>

  <form>
    <span></span>
    <label for="" class="">승인 후 참여</label>
    <input type="checkbox">
  </form>

  <form>
    <input type="button" class="button_next" value="일정 만들기">
  </form>
  
</body>