@use "./../../components" as *;
@use "./../../utils" as *;
@use "./../../base" as *;
@use "./../../themes" as *;


.boardNav {
  border-bottom: solid 1px $gray-300;
  padding: rem(8px) 0 rem(8px) rem(12px);

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
    @include keywordButton;
  }
}

.boardMain {
  &__item {
    border-bottom: solid 1px $gray-300;
    padding: rem(12px);
    position: relative;

    &__kind {
      @include spanTag;
    }

    &__title {
      @include itemTitle(rem(190px));
    }

    &__content,
    &__who,
    &__date,
    &__info,
    &__NOP {
      @include itemContent;
    }

    &__NOP {
      position: absolute;
      right: rem(13px);
      bottom: rem(12px);
    }
  }
}


.boardMain__item__img {
  position: absolute;
  top: rem(12px);
  right: rem(13px);
  width: rem(60px);
  height: rem(60px);
  border-radius: rem(4px);
  background-color: $gray-800;
}