@use "./../../components" as *;
@use "./../../utils" as *;
@use "./../../base" as *;
@use "./../../themes" as *;

body {
  // @include containerMax;
  // height: 685px;
  // width: 365px;
  // border: solid 1px gray;
  // position: relative;
  // box-sizing: content-box;
}

.togetherBoardNav {
  &__form {
    display: flex;
    flex-flow: row;
    gap: rem(12px);
    align-items: center;
    height: rmx(91px);
    overflow: hidden;
    @include paddingX (rem(8px));
    padding-bottom: 8px;
    
  }

  &__box {
    display: flex;
    flex-flow: column;
    gap: rem(6px);
    text-align: center;
  }

  &__button {
    width: rem(54px);
    height: rem(54px);
    border-radius: 50%;
    background-color: $gray-100;
    border: none;
    font-size: $text-lg;
  }
  &__button:hover{
    border: $deep-green solid rem(2px);
  }

  &__label {
    color: var(--contents-content-primary, #000);
    text-align: center;
    font-size: $text-xxs;
    font-family: Pretendard;
    font-weight: 600;
    line-height: 150%;
  }
}

.togetherBoardSorting {
  padding: rem(8px) 0 rem(12px) rem(2px);
  border-bottom: solid 1px $gray-300;

  &__form {
    display: flex;
    flex-flow: row;
    gap: rem(7px)
  }

  &__select {
    @include keywordButton;
    text-align: center;
    appearance: none;

  }

  &__button {
    @include keywordButton(rem(26px));
    background-color: $white;
  }
}

.togetherBoardMain {
  &__item {
    
    position: relative;
    padding: rem(12px) rem(3px);
    border-bottom: solid 1px $gray-300;
    
    
    &__title{
      @include itemTitle(calc(100% - 6.5625rem),$font-weight:600);
      margin-bottom: rem(8px);
    }
    
    &__info,&__NOP{
      @include itemContentOver($width: calc(100% - 6.5625rem));
    }

    &__who,&__date{
      @include itemContentOver($color:$black, $width: calc(100% - 6.5625rem));
      padding-left: 4px;
    }

    &__profile{
      margin-top: 8px;
      float: left;
    }
    &__NOP{
      margin-top: 8px;
      line-height: 200%;
      padding-left: 2px;
    }

    &__befor{
      @include itemContent;
      position: absolute;
      @include posbottomRight($b: rem(12px), $r: rem(12px)); 
    }
    
  }
}
.spanHighligth{
  color: $primary; 
}

