@use "./../../components" as *;
@use "./../../utils" as *;
@use "./../../base" as *;
@use "./../../themes" as *;

.writeBoard3Main{
  flex-flow: column;
  position: relative;
  background-color: aqua;
  height: 100vh;
}

.insertedTitle{
  padding-left: rem(4px);
  color: $black;
  font-size: $text-md;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 150%;
  margin: rem(12px) rem(27px);
}

.selectCategory{
  padding: rem(16px) rem(12px);
  &__summary::marker{font-size:0;}
}



.aroundPopular{
  font-size: $text-xxs ;
  margin-top: rem(16px);

  &__box{
    margin-top: rem(12px);
    // background-color: aqua;
    @include flexbox ($wrap:wrap);
    gap: rem(11px) rem(6px);
  }
  &__button{
    @include keywordButton;
  }
}

.writeBoard2__button__next{
  @include mainButton;
  position: absolute;
  bottom: rem(32px);
}