@use "./../../components" as *;
@use "./../../utils" as *;
@use "./../../base" as *;
@use "./../../themes" as *;

.writeBoardMain {

  flex-flow: column;
  position: relative;
  height: 100vh;
}

.insertTitle {
  &__input {
    padding-left: rem(4px);
    border: none;
    color: $gray-400;
    font-size: $text-md;
    font-family: Pretendard;
    font-weight: 600;
    line-height: 150%;
  }
}

.aroundPopular {
  font-size: $text-xxs ;
  margin-top: rem(16px);

  &__box {
    margin-top: rem(12px);
    // background-color: aqua;
    @include flexbox ($wrap: wrap);
    gap: rem(11px) rem(6px);
  }

  &__button {
    @include keywordButton;
  }
}

.writeBoard__button__next {
  @include mainButton;
  position: absolute;
  bottom: rem(32px);
}