@use "./../themes" as *;
@use "./../utils" as *;


// 다음 버튼
@mixin mainButton( $height: auto, $padding : rem(8px), $bgc: $primary, $color:$white,){
  width: 100%;
  height: $height;
  padding: $padding 0;
  border: none;
  background-color: $bgc;
  border-radius: 10px;
  color: $color;
  font-size: $text-sm;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

@mixin keywordButton ($LRPadding: rem(10px)){
  padding: rem(6px) $LRPadding;
  border-radius: rem(20px);
  border: solid 1px $gray-500;
  
  font-size: $text-xxs;
  line-height: 160%;
}

@mixin plusButton {
  width: rem(48px);
  height: rem(48px);
  padding: rem(10px);
  position: fixed;
  bottom: rem(101px);
  right: rem(12px);
  border: none;
  border-radius: 50%;
  background-color: $primary;
  color: $white;
  font-size: $text-xl;
  z-index: 10;
}