@use "./unit" as *;

.sprite {
  content: "";
  min-width: rem(16px);
  min-height: rem(16px);
  background-image: url(/images/icon_sprite_1x.png);
  background-repeat: no-repeat;
  padding-left: rem(16px);
  float: left;

  // $ReceptionSensitivity: $ReceptionSensitivity::before;
  // $Search: $Search::before;

  
  
  
  
  
  
  
  
  
  $sprites: Home, NavBoard, Chat, Map, MyPage;
  $x: 0;
  $y: 0;
  @each $sprite in $sprites {
    &#{$sprite} {
      background-position: $x $y;
    }
    $x: $x - 20px;
  }
  $sprites: FillHome, FillBoard, FillChat, FillMap;
  $x: 0;
  $y: -20px;
  @each $sprite in $sprites {
    &#{$sprite} {
      background-position: $x $y;
    }
    $x: $x - 20px;
  }
  $sprites: More, Plus, Minus, Check, Exit, Down;
  $x: 0;
  $y: -40px;
  @each $sprite in $sprites {
    &#{$sprite} {
      background-position: $x $y;
    }
    $x: $x - 20px;
  }
}