<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>배추마켓 - 판매 목록</title>
  <link rel="stylesheet preload" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <h1 class="a11yHidden">배추마켓</h1>

  <header class="mainHeader locationHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite sprite__receptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite sprite__lte">데이터 종류</li>
        <li class="a11yHidden sprite sprite__battery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="selectLocation">
        <select name="지역">
          <option value="mainLocation" selected> 태백시 철암동
          <option value="subLocation"> 왕산면 대기리
        </select>
      </li>
      <li class="locationHeader__search spriteSearch a11yHidden">
        <a href="/">검색</a>
      </li>
      <li class="locationHeader__menu spriteMenu a11yHidden">
        <a href="/">메뉴</a>
      </li>
      <li class="locationHeader__alarm spriteAlarm a11yHidden">
        <a href="/">키워드 알람</a>
      </li>
    </ul>
  </header>


  <nav class="appNav">
    <h2 class="a11yHidden">메뉴</h2>
    <ul class="commonNav__list">
      <li class="commonNav__item">
        <a href="" class="commonNav__link">홈</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">게시판</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">내 근처</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">채팅</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">내 정보</a>
      </li>
    </ul>
  </nav>

  <main>
    <h2 class="a11yHidden">메인 메뉴</h2>
    <nav class="mainNav">
      <ul class="mainNav__list">
        <li class="mainNav__item"><a href="/" class="mainNav__link">선배님 스토리</a></li>
        <li class="mainNav__item"><a href="/" class="mainNav__link">기기 거래</a></li>
        <li class="mainNav__item"><a href="/" class="mainNav__link">질의 응답</a></li>
        <li class="mainNav__item"><a href="/" class="mainNav__link">함께 해요</a></li>
      </ul>
    </nav>

    <h2 class="a11yHidden">기기 거래</h2>
    <ul class="exchange__list">
      <li class="exchange__item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">2017 mac pro</p>
          <p class="exchange__placetime">마포구 신수동<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">44분전</time></p>
          <p class="exchange__status">에약중</p>
          <p class="exchange__price">800,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>

      <li class="exchange_item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">text</p>
          <p class="exchange__placetime">text<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">time</time></p>
          <p class="exchange__price">150,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>

      <li class="exchange__item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">text</p>
          <p class="exchange__placetime">text<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">44분전</time></p>
          <p class="exchange__status">에약중</p>
          <p class="exchange__price">150,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>

      <li class="exchange__item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">text</p>
          <p class="exchange__placetime">text<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">time</time></p>
          <p class="exchange__price">150,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>

      <li class="exchange__item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">text</p>
          <p class="exchange__placetime">text<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">time</time></p>
          <p class="exchange__price">150,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>

      <li class="exchange__item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">text</p>
          <p class="exchange__placetime">text<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">time</time></p>
          <p class="exchange__price">150,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>

      <li class="exchange__item">
        <a href="/" class="exchange__link">
          <p class="exchange__title">text</p>
          <p class="exchange__placetime">text<span aria-hidden="true"> &middot; </span><time
              datetime="2023-06-25T02:29">time</time></p>
          <p class="exchange__price">150,000원</p>
          <img src="/images/imglightgray_bg.png" alt="제품 이미지" />
          <p class="exchange__like a11yHidden">좋아요</p>
        </a>
      </li>
    </ul>
  </main>
</body>

</html>