<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>header</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>

  <!-- 메인 /보드 남가좌제 2동 검색 더보기 알람 -->
  <header class="mainHeader locationHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="selectLocation">
        <select name="지역">
          <option value="mainLocation" selected> 태백시 철암동
          <option value="subLocation"> 왕산면 대기리
        </select>
      </li>
      <li class="locationHeader__search spriteSearch a11yHidden">
        <a href="/">검색</a>
      </li>
      <li class="locationHeader__menu spriteMenu a11yHidden">
        <a href="/">메뉴</a>
      </li>
      <li class="locationHeader__alarm spriteAlarm a11yHidden">
        <a href="/">키워드 알람</a>
      </li>
    </ul>
  </header>

  <!-- 프로필 p + 종료버튼 -->
  <header class="mainHeader profileHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <p class="profileHeader__description">프로필 수정</p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link profileHeader__exit a11yHidden sprite spriteExit">창 닫기</a>
      </li>
    </ul>
  </header>

  <!-- 로그인/보드 뒤로가기 버튼  -->
  <header class="mainHeader backHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__link a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
    </ul>
  </header>

  <!-- 보드 뒤로가기 버튼 + p   -->
  <header class="mainHeader backHeader__p">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__back a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
      <li class="statusBar__item">
        <p class="backHeader__title">같이해요</p>
      </li>
    </ul>
  </header>


  <!-- 보드 뒤로가기 공유 더보기-->
  <header class="mainHeader backHeader__Button">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>

    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__back a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__share a11yHidden sprite spriteShare">공유</a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__more a11yHidden sprite spriteMore">더보기</a>
      </li>
    </ul>
  </header>

  <!-- 메인/qna 뒤로가기 홈 공유 더보기-->
  <header class="mainHeader backHeader__Button">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>

    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__back a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__home a11yHidden sprite spritHome">홈</a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__share a11yHidden sprite spriteShare">공유</a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__more a11yHidden sprite spriteMore">더보기</a>
      </li>
    </ul>
  </header>


  <!-- Q&A cancle + p + done -->
  <header class="mainHeader qnaHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__exit a11yHidden sprite spriteExit">취소</a>
      </li>
      <li class="statusBar__item">
        <p class="qnaHeader__text">Q&A 글쓰기</p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__done">완료</a>
      </li>
    </ul>
  </header>

  <!-- Q&A p + qr스캔 알람 -->
  <header class="mainHeader qnaHeader__qChat">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <p class="qnaHeader__qChat">질문채팅</p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__qr a11yHidden sprite spriteQr">Q.R. 스캔</a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__alarm a11yHidden sprite spriteAlarm">알람</a>
      </li>
    </ul>
  </header>

  <!-- Q&A 뒤로가기 + p + 전화 더보기 -->
  <header class="mainHeader qnaHeader__qChat">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="a11yHidden sprite spriteReceptionSensitivity">수신감도</li>
        <li class="a11yHidden sprite spriteLte">데이터 종류</li>
        <li class="a11yHidden sprite spriteBattery">배터리 잔량</li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__Call a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
      <li class="statusBar__item">
        <p class="qnaHeader__chatText">카페인조아<span class="qnaHeader__chatText__span">보통 3일 내 응답</span></p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__Call a11yHidden sprite spriteCall">통화하기</a>
      </li>
      <li class="statusBar__item">
        <a hrep="/" class="statusBar__link qnaHeader__more a11yHidden sprite spriteMore">더보기</a>
      </li>
    </ul>
  </header>

  <nav class="appNav">
    <h2 class="a11yHidden">메뉴</h2>
    <ul class="commonNav__list">
      <li class="commonNav__item">
        <a href="" class="commonNav__link">홈</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">게시판</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">내 근처</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">채팅</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">내 정보</a>
      </li>
    </ul>
  </nav>


</body>

</html>