<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>header</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>

  <!-- 메인 /보드 남가좌제 2동 검색 더보기 알람 -->
  <header class="mainHeader locationHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="selectLocation">
        <label for="headerSelect">거래지역</label><select id="headerSelect">
          <option value="mainLocation" selected> 태백시 철암동
          <option value="subLocation"> 왕산면 대기리
        </select>
      </li>
      <li class="locationHeader__search">
        <a class="sprite spriteSearch" href="/"><span class="a11yHidden">검색</span></a>
      </li>
      <li class="locationHeader__menu">
        <a class="sprite spriteMenu" href="/"><span class="a11yHidden">메뉴</span></a>
      </li>
      <li class="llocationHeader__menuspriteAlarm">
        <a class="sprite" href="/"><span class="a11yHidden">키워드 알람</span></a>
      </li>
    </ul>
  </header>

  <!-- 프로필 p + 종료버튼 -->
  <header class="mainHeader profileHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <p class="profileHeader__description">프로필 수정</p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link profileHeader__exit sprite spriteExit"><span class="a11yHidden">창 닫기</span></a>
      </li>
    </ul>
  </header>

  <!-- 로그인/보드 뒤로가기 버튼  -->
  <header class="mainHeader backHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__link a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
    </ul>
  </header>

  <!-- 보드 뒤로가기 버튼 + p   -->
  <header class="mainHeader backHeader__p">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__back a11yHidden sprite spriteBack">뒤로가기</a>
      </li>
      <li class="statusBar__item">
        <p class="backHeader__title">같이해요</p>
      </li>
    </ul>
  </header>


  <!-- 보드 뒤로가기 공유 더보기-->
  <header class="mainHeader backHeader__Button">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>

    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__back sprite spriteBack"><span class="a11yHidden">뒤로가기</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__share sprite spriteShare"><span class="a11yHidden">공유</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__more sprite spriteMore"><span class="a11yHidden">더보기</span></a>
      </li>
    </ul>
  </header>

  <!-- 메인/qna 뒤로가기 홈 공유 더보기-->
  <header class="mainHeader backHeader__Button">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>

    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__back sprite spriteBack"><span class="a11yHidden">뒤로가기</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__home sprite spritHome"><span class="a11yHidden">홈</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__share sprite spriteShare"><span class="a11yHidden">공유</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link backHeader__more sprite spriteMore"><span class="a11yHidden">더보기</span></a>
      </li>
    </ul>
  </header>


  <!-- Q&A cancle + p + done -->
  <header class="mainHeader qnaHeader">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__exit sprite spriteExit"><span class="a11yHidden">취소</span></a>
      </li>
      <li class="statusBar__item">
        <p class="qnaHeader__text">Q&A 글쓰기</p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__done">완료</a>
      </li>
    </ul>
  </header>

  <!-- Q&A p + qr스캔 알람 -->
  <header class="mainHeader qnaHeader__qChat">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <p class="qnaHeader__qChat">질문채팅</p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__qr sprite spriteQr"><span class="a11yHidden">Q.R. 스캔</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__alarm sprite spriteAlarm"><span class="a11yHidden">알람</span></a>
      </li>
    </ul>
  </header>

  <!-- Q&A 뒤로가기 + p + 전화 더보기 -->
  <header class="mainHeader qnaHeader__qChat">
    <h2 class="a11yHidden">기본 정보</h2>
    <div class="timeInfo">
      <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
      <ul class="celluarInfo">
        <li class="celluarInfo__item">
          <span class="sprite spriteReceptionSensitivity"></span>
          <p class="a11yHidden">수신감도</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteLte"></span>
          <p class="a11yHidden">데이터 종류</p>
        </li>
        <li class="celluarInfo__item">
          <span class="sprite spriteBattery"></span>
          <p class="a11yHidden">배터리 잔량</p>
        </li>
      </ul>
    </div>
    <ul class="statusBar">
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__Call sprite spriteBack"><span class="a11yHidden">뒤로가기</span></a>
      </li>
      <li class="statusBar__item">
        <p class="qnaHeader__chatText">카페인조아<span class="qnaHeader__chatText__span">보통 3일 내 응답</span></p>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__Call sprite spriteCall"><span class="a11yHidden">통화하기</span></a>
      </li>
      <li class="statusBar__item">
        <a href="/" class="statusBar__link qnaHeader__more sprite spriteMore">더보기</a>
      </li>
    </ul>
  </header>

  <nav class="commonNav">
    <h2 class="a11yHidden">메뉴</h2>
    <ul class="commonNav__list">
      <li class="commonNav__item">
        <a href="" class="commonNav__link sprite spriteHome">홈</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link sprite spriteBoard">게시판</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link sprite spritePlace">내 근처</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link sprite spriteChat">채팅</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link sprite spriteMyPage">내 정보</a>
      </li>
    </ul>
  </nav>


</body>

</html>