@use "../../themes/" as *;
@use "../../utils/" as *;

.exchange {
  &__list {
    @include flexbox(column);
    margin-bottom: rem(50%);
  
  }

  &__link {
    // display: flow-root;
    @include gridbox;
    grid-template-areas: 
    "img title title title"
    "img pt pt pt"
    "img status price like"
    ;
  }

  &__title {
    grid-area: title;
  }
  
  &__placetime {
    grid-area: pt;
    
  }
  
  &__price {
    grid-area: price;
    
  }
  
  &__status {
    grid-area: status;
  }
  
  &__img {
    grid-area: img;
  }
  
  &__like {
    grid-area: like;
  }
}