<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>채팅방 리스트 페이지</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>

  <main>
    <!-- 채팅 목록 리스트 -->
    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">이드미</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">알겠습니다!</dd>
        <dd class="chatSubData">망원동 • 3일 전</dd>
        <dd class="chatLastImage"><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">멋사와 함께</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">디버깅은 해보셨어용?</dd>
        <dd class="chatSubData">성산제2동 • 3일 전</dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">4기네이버</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">네이버 면접준비하러갑니다.</dd>
        <dd class="chatSubData">연남동 • 3일 전</dd>
        <dd class="chatLastImage"><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">크크오가즈아</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">넵! 알려주신대로 해볼게요!!</dd>
        <dd class="chatSubData">남가좌제1동 • 3일 전</dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">EUIDDDD</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">이 부분에서 auto layout을 적용하면 되나요?</dd>
        <dd class="chatSubData">연희동 • 3일 전</dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">피그마마보이</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">그러면 이 부분에서는 이걸 적용하면 되나요?</dd>
        <dd class="chatSubData">상수동 • 3일 전</dd>
        <dd class="chatLastImage"><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">카페인조아</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">오늘 저녁에 연희근처에서 만나시죠!</dd>
        <dd class="chatSubData">연희동 • 3일 전</dd>
        <dd class="chatLastImage"><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a class="ChatListBox" href="chatcontent.html">
      <dl>
        <dt class="chatName">가보자고</dt>
        <dd class="chatProfileImage">
          <img src="./../images/Rectangle.png" alt="채팅하는 사람의 프로필 이미지" />
        </dd>
        <dd class="lastChat">aria-hidden여기에도 적용하면 되는건가요?</dd>
        <dd class="chatSubData">망원동 • 3일 전</dd>
        <dd class="chatLastImage"><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

  </main>
</body>
</html>