<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>채팅창</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>
<body>
  <header>
    <ul>
      <li class=" "></li>
      <li>
        <h2>
          <span>카페인조아</span>
          <span>보통 3일 내 응답</span>
        </h2>
      </li>
      <li class="sprite"></li>
      <li class="sprite"></li>
    </ul>

    <img src="./../images/chatImage.png" alt="" />
    <div>
      <h3>
        <span>판매중</span>
        <span>intel mac 2017</span>
        <span>800,000</span>
      </h3>
    </div>
    <button class="sprite">약속 잡기</button>
    <button class="sprite">송금 하기</button>
  </header>

  <main>
    <div>
      <div>
        <img src="" alt="" />
        <p><span>카페인조아님은 우수판매자예요.</span>
        개인정보유도와 명예훼손 내용은 차단될 수 있어요. 
        <span>자세히 보기</span></p>
      </div>
  
      <div>
        <time datetime="2023-02-21">2023년 2월 21일</time>
        <div>
          <span>가격 네고 가능한가요?</span>
          <time datetime="2023-02-21T16:30:00">오후 4:30</time>
        </div>
        <div>
          <span>목요일 거래 가능할까요?</span>
          <time datetime="2023-02-21T17:32:00">오후 5:32</time>
        </div>
  
        <div>
          <time datetime="2023-02-22">2023년 2월 22일</time>
          <span>판매 안하시나요?ㅠㅠ</span>
          <time datetime="2023-02-22T21:16:16">오후 9:16</time>
        </div>
  
        <div>
          <time datetime="2023-02-22">2023년 2월 22일</time>
          <span>판매 안하시나요?ㅠㅠ</span>
          <time datetime="2023-02-22T21:16:16">오후 9:16</time>
        </div>
  
        <div>
          <time datetime="2023-03-06">2023년 3월 6일</time>
          <span>죄송해요ㅠㅠ 제가 핸드폰을 바꿔서 지금봤네요ㅠㅠ
            팡매는 안됐는데 먼저 연락하신분이 있어서 답장 기다리고 있습니다 ㅠㅠ
          </span>
        </div>
      </div>
    </div>

    <form name="" action="#" method="POST">
    <fieldset>
      <legend>메세지 입력 폼</legend>
      <div>
        <div>
          <label for="search" class="a11yHidden spritePlus">입력창</label>
          <input type="search" id="search" name="search"
          required placeholder="메세지 보내기" />
        </div>
        <button><img src="./../images/sendButton.png" alt="" /></button>
      </div>
    </fieldset>
    </form>

  </main>

</body>
</html>