<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>질문채팅 화면</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <header></header>
  <nav></nav>

  <main>
    <!-- 채팅 목록 리스트 -->
    <a href="chatcontent.html">
      <dl>
        <dt>이드미</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>알겠습니다!</dd>
        <dd>망원동 • 3일 전</dd>
        <dd><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>멋사와 함께</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>디버깅은 해보셨어용?</dd>
        <dd>성산제2동 • 3일 전</dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>4기네이버</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>네이버 면접준비하러갑니다.</dd>
        <dd>연남동 • 3일 전</dd>
        <dd><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>크크오가즈아</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>넵! 알려주신대로 해볼게요!!</dd>
        <dd>남가좌제1동 • 3일 전</dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>EUIDDDD</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>이 부분에서 auto layout을 적용하면 되나요?</dd>
        <dd>연희동 • 3일 전</dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>피그마마보이</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>그러면 이 부분에서는 이걸 적용하면 되나요?</dd>
        <dd>상수동 • 3일 전</dd>
        <dd><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>카페인조아</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>오늘 저녁에 연희근처에서 만나시죠!</dd>
        <dd>연희동 • 3일 전</dd>
        <dd><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

    <a href="chatcontent.html">
      <dl>
        <dt>가보자고</dt>
        <dd><img src="./../images/Rectangle.png" alt="프로필 이미지" /></dd>
        <dd>aria-hidden여기에도 적용하면 되는건가요?</dd>
        <dd>망원동 • 3일 전</dd>
        <dd><img src="./../images/qnalistImage.png" alt="" /></dd>
      </dl>
    </a>

  </main>
</body>
</html>