<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>질문채팅 화면</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <header>
    <h2>질문채팅</h2>
    <span class="sprite"></span>
    <span class="sprite"></span>
  </header>

  <main>
    <ul>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>이드미</span>
            <span>망원동 • 3일 전</span>
            <span>알겠습니다!</span>
            <img src="./../images/chatImage.png" alt="" />
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>멋사와 함께</span>
            <span>성산제2동 • 3일 전</span>
            <span>디버깅은 해보셨어용?</span>
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>4기네이버</span>
            <span>연남동 • 3일 전</span>
            <span>네이버 면접준비하러 갑니다.</span>
            <img src="./../images/chatImage.png" alt="" />
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>크크오가즈아</span>
            <span>남가좌제1동 • 3일 전</span>
            <span>넵! 알려주신대로 해볼게요!</span>
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>EUIDDDD</span>
            <span>연희동 • 3일 전</span>
            <span>이 부분에서 auto layout 해줘야돼요.</span>
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>피그마마보이</span>
            <span>상수동 • 3일 전</span>
            <span>그러면 이 부분에서는 이이이이</span>
            <img src="./../images/chatImage.png" alt="" />
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>카페인조아</span>
            <span>연희동 • 3일 전</span>
            <span>오늘 저녁에 연희근처에서</span>
            <img src="./../images/chatImage.png" alt="" />
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>가보자고</span>
            <span>망원동 • 3일 전</span>
            <span>aria-hidden여기서 적용하면면</span>
            <img src="./../images/chatImage.png" alt="" />
          </div>
        </a>
      </li>
      <li>
        <img src="./../images/Rectangle.png" alt="" />
        <a href="./chatcontent.html">
          <div class="user-component__text">
            <span>MACBOY</span>
            <span>망원동 • 3일 전</span>
            <span>m1칩 air입니까? pro입니까?</span>
            <img src="./../images/chatImage.png" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </main>

  <nav>
    <ul>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>홈</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>게시판</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>내근처</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>채팅</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>나의 이듬</span>
      </li>
    </ul>
  </nav>
</body>
</html>