<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>배추마켓</title>
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="/style/index.css" />
</head>

<body>


<header class="appHeader homeHeader locationHeader seachHeader backHeader">
<nav class="appNav">
  <ul class="nav__list">
    <li class="nav__item"><a href="/" class="nav__link">선배님 스토리</a></li>
    <li class="nav__item"><a href="/" class="nav__link">기기 거래</a></li>
    <li class="nav__item"><a href="/" class="nav__link">질의 응답</a></li>
    <li class="nav__item"><a href="/" class="nav__link">함께 해요</a></li>
  </ul>
</nav>
</header>
<main>
<dl>
  <dt>디자인에 대해 하나도 알지 못했던 내가 취업할 수 있었던 이유</dt>
  <dl>UIUX <span class="a11yhidden">|</span> 1기 수강생 박치열</dl>
  <dt></dt>
  <dl></dl>
  <dt></dt>
  <dl></dl>
  <dt></dt>
  <dl></dl>
  <dt></dt>
  <dl></dl>
  <dt></dt>
  <dl></dl>
  <dt></dt>
  <dl></dl>
</dl>
</main>
</body>
</html>