<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>배추마켓</title>
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <h1 class="a11yhidden">배추마켓</h1>

  <header class="appHeader homeHeader locationHeader seachHeader backHeader">
    <h2></h2>
  </header>

  <nav class="appNav">
    <h2 class="a11yHidden">메인 메뉴</h2>
    <ul class="commonNav__list">
      <li class="commonNav__item">
        <a href="" class="commonNav__link">홈</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">게시판</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">내 근처</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">채팅</a>
      </li>
      <li class="commonNav__item">
        <a href="" class="commonNav__link">내 정보</a>
      </li>
    </ul>
  </nav>

  <main>
    <h2></h2>
    <nav class="mainNav">
      <ul class="mainNav__list">
        <li class="mainNav__item"><a href="/" class="mainNav__link">선배님 스토리</a></li>
        <li class="mainNav__item"><a href="/" class="mainNav__link">기기 거래</a></li>
        <li class="mainNav__item"><a href="/" class="mainNav__link">질의 응답</a></li>
        <li class="mainNav__item"><a href="/" class="mainNav__link">함께 해요</a></li>
      </ul>
    </nav>
    <dl class="storyFeild">
      <div class="storyFeild__list">
        <dt><a href="">디자인에 대해 하나도 알지 못했던 내가 취업할 수 있었던 이유</a></dt>
        <dd><a href=""><img src="/images/cabbage.png" alt="프로필사진" /></a></dd>
        <dd><a href="">UIUX <span aria-hidden="true">|</span> 1기 수강생 박치열</a></dd>
      </div>

      <div class="storyFeild__list">
        <dt><a href="">영문과 전공생에서 UIUX 디자이너로 취업하기까지</a></dt>
        <dd><a href=""><img src="/images/cabbage.png" alt="프로필사진" /></a></dd>
        <dd><a href="">UIUX <span aria-hidden="true">|</span> 3기 수강생 김진우</a></dd>
      </div>
      
      <div class="storyFeild__list">
        <dt><a href="">7기 수강생의 삼성으로 가는 피그마 노하우</a></dt>
        <dd><a href=""><img src="/images/cabbage.png" alt="프로필사진" /></a></dd>
        <dd><a href="">UIUX <span aria-hidden="true">|</span> 7기 수강생 김삼성</a></dd>
      </div>
      
      <div class="storyFeild__list">
        <dt><a href="">배울 때 내가 가장 힘들었던 A-Z 야, 너도 할 수 있어!</a></dt>
        <dd><a href=""><img src="/images/cabbage.png" alt="프로필사진" /></a></dd>
        <dd><a href="">UIUX <span aria-hidden="true">|</span> 4기 수강생 김환휘</a></dd>
      </div>

      <div class="storyFeild__list">
        <dt><a href="">나는 프론트일까? 백일까? 여전히 모르겠다면 물어봐!</a></dt>
        <dd><a href=""><img src="/images/cabbage.png" alt="프로필사진" /></a></dd>
        <dd><a href="">UIUX <span aria-hidden="true">|</span> 2기 수강생 최혜수</a></dd>
      </div>

      <dt><a href="">코딩과 디자인의 그 어딘가 두가지 모두 하고 싶은 욕심쟁이</a></dt>
      <dd><a href=""><img src="/images/cabbage.png" alt="프로필사진" /></a></dd>
      <dd><a href="">UIUX <span aria-hidden="true">|</span> 5기 수강생 염진희</a></dd>
    </dl>
  </main>
</body>

</html>