<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Q&A  메인 페이지</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <header>
    <span class="sprite"></span>
    <div>
      <img src="./../images/profileImage.png" alt="" />
      <h2>Q&A</h2>
      <span class="sprite">참여중</span>
    </div>
  </header>

  <main>
    <ul>
      <li>
        <a href="qnaboard.html">
          <span>JS</span>
          <span>JS에서 함수 선언문과 표현식의 차이를 모르겠어요</span>
          <span>함수 선언문과 표현식의 차이를 아직 잘 모르겠네요</span>
          <span>북가좌동 • 2일 전</span>
        </a>
      </li>

      <li>
        <a href="qnaboard.html">
          <span>UI•UX</span>
          <span>아니 auto Layout 했는데 왜이러냐 진짜</span>
          <span>아니 이거 묶으려고 auto Layout 했는데 왜그러냐 진짜</span>
          <span>망원동 • 2일 전 • 조회 132</span>
          <span class="sprite">2</span>
          <span class="sprite">1</span>
          <img class="" src="./../images/qnaImage.png" alt="" />
        </a>
      </li>

      <li>
        <a href="qnaboard.html">
          <span>HTML</span>
          <span>웹 접근성 적용해서 코드 짜려는데 여기</span>
          <span>aria-hidden 적용하면 보이는 거 안틀리는 거 맞</span>
          <span>남과자제2동 • 4일 전 • 조회 19</span>
        </a>
      </li>

      <li>
        <a href="qnaboard.html">
          <span>css</span>
          <span>CSS flex 적용했는데 왜 이러는지 모르겠어</span>
          <span>flex justify-content: center 적용했는데 왜 이렇게</span>
          <span>성산제3동 • 7일 전</span>
          <span class="sprite">6</span>
          <span class="sprite">3</span>
        </a>
      </li>

      <li>
        <a href="qnaboard.html">
          <span>UI•UX</span>
          <span>Figma 하는 중인데 어두운 화면이면 어떤</span>
          <span>flex justify-content: center 적용했는데 왜 이렇게</span>
          <span>북가좌동 • 2일 전</span>
          <span class="sprite">1</span>
          <span class="sprite">4</span>
          <img class="" src="./../images/qnaImage.png" alt="" />
        </a>
      </li>
    </ul>

    <button class="plusButton" onclick="location.href='writeqna.html'">
      <img src="./../images/Plusbutton.png" alt="" />
    </button>
  </main>

  <nav>
    <ul>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>홈</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>게시판</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>내근처</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>채팅</span>
      </li>
      <li>
        <a href=""></a>
        <img src="./../images/homeIcon.png" alt="" />
        <span>나의 이듬</span>
      </li>
    </ul>
  </nav>

</body>

</html>