<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Q&A 글쓰기 페이지</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <header>
    <div class="screen-header__icons opacity">
      <img src="" alt="" />
      <h2>Q&A 글쓰기</h2>
      <span>완료</span>
    </div>
  </header>

  <main>
    <h3 class="sprite"><span>FRONTEND</span></h3>
    <div>
      <span>안내</span>
      <span>중고거래 관련, 명예훼손, 광고/홍보 목적의 글은
        올리실 수 없어요. </span>
      <span>Q&A글쓰기 운영정책</span>
    </div>

    <fieldset>
      <legend>글 작성 폼</legend>
      <div class="formInput">
        <img src="" alt="" />
        <label for="search" class="a11yHidden"> 제목</label>
        <input type="search" id="search" name="search" required
          class="" placeholder="제목" />
        <label for="search" class="a11yHidden">상세 글</label>
        <input type="search" id="search" name="search" required
        class="" placeholder="관심있는 분야에 대한 질문을 올려주세요.
        장소 정보와 사진을 함께 올리면 친구들에게 더 도움이 돼요" />
      </div>
    </fieldset>

    <ul>
      <li class="sprite">사진</li>
      <li class="sprite">장소</li>
      <li class="sprite"></li>
    </ul>
  </main>
</body>
</html>