@use "../utils/" as *;
@use "../themes/" as *;

.sizingWrapper {
  position: relative;
}

.commonNav {
  &__list {
    width: calc(100% - 24px);
    max-width: rem(599px);
    @include flexbox($justify: space-between);
    font-weight: 400;
    font-size: rem(11px);
    position: fixed;
    bottom: 0;
    padding-bottom: 16px;
    background: $white;
    @include autoMargin;
  }

  &__link {
    @include flexbox($direction: column, $items: center);
    text-align: center;
    @include paddingY(8px);
    
  }
}

.mainNav {
  &__list {
    width: 100%;
    background: $primary;
    color: rgba($white, 0.5);
    @include flexbox($justify: space-between);
    font-weight: 400;
    @include paddingY(12px);
    @include paddingX(8px);
    gap: rem(8px);
  }
  // &__item{
    //   flex-shrink: 0;
    // }
    
    &__link {
    font-size: $text-sm;
    @include paddingY(8px);
  }
}

.accentColor {
  font-weight: 700;
  color: rgba($white, 1);
}