<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profileDetails page</title>
</head>
<body>
  <div class="profilelInformationEdit">
    <h5 class="a11yHidden">기본정보 수정화면</h5>
    
    <p class="profilelInformationEdit__page">
      기본정보
      <a href="/profileCard.html" class="backProfileCard"></a>
    </p>

    <section class="profilelInformationContent">

    </section>

    <section class="agreeContent">
      
    </section>
  </div>
</body>
</html>