<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profile page</title>
  <link rel="stylesheet preload" as="style" crossorigin
  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <h1 class="a11yHidden">배추마켓</h1>

  <div class="sizingWrapper">
    <h2 class="a11yHidden">프로필 화면</h2>

    <section class="profileMain">
      <h3 class="a11yHidden">프로필 주요 메뉴</h3>

      <a href="/profileCard.html" class="profileMain__link" id="goProfileCardEdit">
        <img class="profileMain__img" src="./../../images/rabbit.png" alt="프로필 이미지" />
        <span class="sprite spriteEdit"></span>
      </a>

      <div class="profileMain__name">
        <p class="profileId">토끼 <span class="ordinalBagde">6기</span></p>
        <span class="answer">답변 35</span>
      </div>

      <ul class="profileMainMyPage__list">
        <li class="profileMainMyPage__item">
          <a href="/" class="profileMainMyPage__link" id="myQna">
            <span class="sprite spriteCircleCheck"></span>
            나의 Q&#38;A</a>
        </li>

        <li class="profileMainMyPage__item">
          <a href="/" class="profileMainMyPage__link" id="myProfile">
            <span class="sprite spritePerson"></span>
            나의 프로필</a>
        </li>

        <li class="profileMainMyPage__item">
          <a href="/" class="profileMainMyPage__link" id="myNews">
            <span class="sprite spriteBell"></span>
            내소식</a>
        </li>
      </ul>
    </section>

    <section class="profileStats">
      <h3 class="a11yHidden">나의 활동 능력치</h3>

      <div class="profileStats__passionTemperature">
        <p class="passionTemperature" title="열정온도는 여러 활동 내역을 기반으로 종합해서 만든 열정 지표입니다">
          <span class="sprite spriteExplanation"></span>
          열정온도
        </p>

        <div class="passionTemperature__firstTemperature">
          <p class="passionTemperature__first">
            첫 온도 36.5&#176;C
            <span class="sprite spritePositioning"></span>
          </p>
        </div>

        <p class="passionTemperature__myTemperature">41.2&#176;C 😀</p>

        <div class="passionTemperature__view">
          <span class="passionTemperature__nowView"></span>
        </div>
      </div>

      <div class="profileStats__percent">
        <p class="percent__getLike">
          <span class="sprite spriteMdHeart"></span>
          받은 좋아요 100&#37;<br />
          <span class="getLike">11개 중 11명이 만족</span>
        </p>

        <p class="percent__responseRate">
          <span class="sprite spriteMessage"></span>
          응답률 &#45;&#37;<br />
          <span class="responseRate">표시될 만큼 충분히 채팅하지 않았어요</span>
        </p>
      </div>
    </section>

    <section class="profileDoit">
      <h3 class="a11yHidden">나의 활동내역을 파악할 수 있는 목록</h3>
    
      <ul class="profileDoit__list">
        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="activityBadge">
            활동배지 10개<span class="sprite spriteMoreRight"></span></a>
        </li>

        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="saleProduct">
            판매상품 3개<span class="sprite spriteMoreRight"></span></a>
        </li>

        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="getMannerValue">
            받은 매너 평가<span class="sprite spriteMoreRight"></span></a>

          <a href="/" class="profileDoit__link" id="goMannerValuePage">
            <ol class="mannerValueList">
              <li class="mannerValueItem">
                <p class="mannerValue">
                  <span class="sprite spriteTwoPeople"></span>
                  10
                  <span class="messageShape">시간약속을 잘 지켜요</span>
                </p>
              </li>
              <li class="mannerValueItem">
                <p class="mannerValue">
                  <span class="sprite spriteTwoPeople"></span>
                  9
                  <span class="messageShape">친절하고 매너가 좋아요</span>
                </p>
              </li>
              <li class="mannerValueItem">
                <p class="mannerValue">
                  <span class="sprite spriteTwoPeople"></span>
                  8
                  <span class="messageShape">제가 있는 곳까지 와서 거래했어요</span>
                </p>
              </li>
            </ol>
          </a>
        </li>

        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="getDealReview">
            받은 거래 후기 1<span class="sprite spriteMoreRight"></span></a>

          <a href="/" class="profileDoit__link" id="goDealReviewPage">
            <dl class="dealReview">

              <dt class="dealReview__writer">
                <img class="dealReview__img" src="./../../images/fox.png" alt="작성자 이미지" />
                <span class="writer">여우</span><br />
                <span class="buyer">구매자 &#183; 부산광역시 해운대구 &#183; 4개월전</span>
              </dt>
              <dd class="dealReview__review">너무 감사합니다&#33;</dd>
            </dl>
            <span class="sprite spriteMore moreDot"></span>
          </a>
        </li> 
      </ul>
    </section>

    <section class="profileBottom">
      <h3 class="a11yHidden">프로필 하단 앱 관련 목록</h3>

      <ul class="profileBottom__list">

        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="storedQuestion">
          보관 질문</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="appSetting" >
            설정</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="officialBlog" >
           지식 iN 공식 블로그</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="servicInformation">
            서비스 정보</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="announcement" >
            공지사항</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link logout" id="logout">
            로그아웃 <span class="loginId">rabbit</span></a>
        </li>
      </ul>
    </section>

  </div>
</body>
</html>