<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profileCard page</title>
</head>

<body>
  <h1 class="a11yHidden">배추마켓</h1>

  <!-- 프로필 수정 화면 -->
  <div class="sizingWrapper">
    <h2 class="a11yHidden">프로필수정 화면</h2>

    <!-- 링크 수정, id 추가 -->
    <p class="profileEdit__page">
      프로필수정
      <a href="/profile.html" class="profileEdit__link" id="goProfile"></a>
    </p>

    <!-- 프로필 카드 화면 -->
    <div class="profileCard">
      <h3 class="a11yHidden">프로필카드 화면</h3>

      <!-- 스프라이트 이미지 클래스 추가 -->
      <p class="profileCard__page">
        <span class="sprite spriteExplanation"></span>
        프로필카드
      </p>

      <section class="myProfileCard">
        <h4 class="a11yHidden">나의 프로필카드</h4>

        <p class="profileCard__name">토끼<br />
          <span class="ordinalBagde">6기</span>
        </p>
        <img src="/" class="profileCard__img" alt="프로필카드 내의 프로필 이미지" />
      </section>

      <!-- 기본 정보 목록 -->
      <section class="profilelInformation">
        <h4 class="a11yHidden">기본 정보</h4>

        <!-- link class 수정하고 id는 어디로가는지 알려주고싶어서 추가 -->
        <p class="profilelInformation__section">
          기본 정보
          <a href="/profileDetails.html" class="profilelInformation__link" id="goProfileInfoEdit">수정하기</a>
        </p>

        <dl class="profilelInformation__list">
         <dt class="profilelInformation__title">프로필 사진</dt>
         <dd class="profilelInformation__item"><img src="/" alt="프로필 이미지" /></dd>

         <dt class="profilelInformation__title">이름(별명)</dt>
         <dd class="profilelInformation__item">토끼</dd>

         <dt class="profilelInformation__title">하는일</dt>
         <dd class="profilelInformation__item">미입력</dd>

         <dt class="profilelInformation__title">프로필 키워드</dt>
         <dd class="profilelInformation__item">미입력</dd>

         <dt class="profilelInformation__title">성별</dt>
         <dd class="profilelInformation__item">미입력</dd>

         <dt class="profilelInformation__title">연령</dt>
         <dd class="profilelInformation__item">미입력</dd>

         <dt class="profilelInformation__title">회사</dt>
         <dd class="profilelInformation__item">미입력</dd>

         <dt class="profilelInformation__title">학교</dt>
         <dd class="profilelInformation__item">미입력</dd>

         <dt class="profilelInformation__title">자격</dt>
         <dd class="profilelInformation__item">미입력</dd>
        </dl>
      </section>

      <!-- 추가 정보 목록 -->
      <section class="additionalInformation">
        <h4 class="a11yHidden">추가 정보</h4>

        <p class="additionalInformation__section">
          추가 정보
          <a href="/" class="additionalInformation__edit" id="goAddInfoEdit">수정하기</a>
        </p>

        <dl class="additionalInformation__list">
          <dt class="additionalInformation__title">소개</dt>
          <dd class="additionalInformation__item">미입력</dd>

          <dt class="additionalInformation__title">연관 링크</dt>
          <dd class="additionalInformation__item">미입력</dd>

          <dt class="additionalInformation__title">활동 분야</dt>
          <dd class="additionalInformation__item">미입력</dd>

          <dt class="additionalInformation__title">업체 정보</dt>
          <dd class="additionalInformation__item">미입력</dd>
        </dl>
      </section>
    </div>

  </div>
</body>
</html>