<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profile page</title>
</head>
<body>
  <h1 class="a11yHidden">배추마켓</h1>

  <!-- 프로필 첫 화면 -->
  <div class="sizingWrapper">
    <h2 class="a11yHidden">프로필 화면</h2>

<!-- 프로필 주요 메뉴 -->
    <section class="profileMain">
      <h3 class="a11yHidden">프로필 주요 메뉴</h3>

      <!-- 스프라이트 이미지 클래스 추가 -->
      <a href="/profileCard.html" class="profileMain__link" id="goProfileCardEdit">
        <img class="profileMain__img" src="/" alt="프로필 이미지" />
        <span class="sprite spriteEdit"></span>
      </a>
      <p class="profileMain__name">토끼
        <span class="ordinalBagde">6기</span><br />
        <span class="answer">답변 35</span>
      </p>

      <!-- 스프라이트 이미지 클래스 추가 -->
      <ul class="profileMainMyPage__list">
        <li class="profileMainMyPage__item">
          <a href="/" class="profileMainMyPage__link" id="myQna">
            <span class="sprite spriteCheck"></span>
            나의 Q&#38;A</a>
        </li>

        <li class="profileMainMyPage__item">
          <a href="/" class="profileMainMyPage__link" id="myProfile">
            <span class="sprite spritePerson"></span>
            나의 프로필</a>
        </li>

        <li class="profileMainMyPage__item">
          <a href="/" class="profileMainMyPage__link" id="myNews">
            <span class="sprite spriteBell"></span>
            내소식</a>
        </li>
      </ul>
    </section>

    <!-- 프로필 내 활동 능력치 -->
    <section class="profileStats">
      <h3 class="a11yHidden">나의 활동 능력치</h3>

      <!-- 스프라이트 이미지 클래스 추가 -->
      <div class="profileStats__passionTemperature">
        <p class="passionTemperature" title="열정온도는 여러 활동 내역을 기반으로 종합해서 만든 열정 지표입니다">
          <span class="sprite spriteExplanation"></span>
          열정온도
        </p>

        <div class="passionTemperature__firstTemperature">
          <p class="passionTemperature__first">
            첫 온도 36.5&#176;C
            <span class="sprite spritePositioning"></span>
          </p>
        </div>

        <p class="passionTemperature__myTemperature">41.2&#176;C 😀</p>

        <div class="passionTemperature__view">
          <span class="passionTemperature__nowView"></span>
        </div>
      </div>

      <!-- 스프라이트 이미지 클래스 추가 -->
      <div class="profileStats__percent">
        <p class="percent__getLike sprite spriteHeart">
          <span class="sprite spriteHeart"></span>
          받은 좋아요 100&#37;<br />
          <span class="getLike">11개 중 11명이 만족</span>
        </p>

        <p class="percent__responseRate">
          <span class="sprite spriteMessage"></span>
          응답률 &#45;&#37;<br />
          <span class="responseRate">표시될 만큼 충분히 채팅하지 않았어요</span>
        </p>
      </div>
    </section>

    <!-- 프로필 활동내역 파악할 수 있는 목록 -->
    <section class="profileDoit">
      <h3 class="a11yHidden">나의 활동내역을 파악할 수 있는 목록</h3>
    
    <!-- 스프라이트 이미지 클래스 추가 -->
      <ul class="profileDoit__list">
        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="activityBadge">
            <span class="sprite spriteMoreRight"></span>
            활동배지 10개</a>
        </li>

        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="saleProduct">
            <span class="sprite spriteMoreRight"></span>
            판매상품 3개</a>
        </li>

        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="getMannerValue">
            <span class="sprite spriteMoreRight"></span>
            받은 매너 평가</a>

          <a href="/" class="profileDoit__link" id="goMannerValuePage">
            <ol class="mannerValueList">
              <li class="mannerValueItem">
                <p class="mannerValue">
                  <span class="sprite spriteTwoPeople"></span>
                  10
                  <span class="messageShape">시간약속을 잘 지켜요</span>
                </p>
              </li>
              <li class="mannerValueItem">
                <p class="mannerValue">
                  <span class="sprite spriteTwoPeople"></span>
                  9
                  <span class="messageShape">친절하고 매너가 좋아요</span>
                </p>
              </li>
              <li class="mannerValueItem">
                <p class="mannerValue">
                  <span class="sprite spriteTwoPeople"></span>
                  8
                  <span class="messageShape">제가 있는 곳까지 와서 거래했어요</span>
                </p>
              </li>
            </ol>
          </a>
        </li>

        <li class="profileDoit__item">
          <a href="/" class="profileDoit__link" id="getDealReview">
            <span class="sprite spriteMoreRight"></span>
            받은 거래 후기 1</a>

          <a href="/" class="profileDoit__link" id="goDealReviewPage">
            <dl class="dealReview">

              <!-- 스프라이트 이미지 클래스 추가 -->
              <dt class="dealReview__writer">
                <img class="dealReview__img" src="/" alt="작성자 이미지" />
                여우<br />
                <span class="buyer">구매자 &#183; 부산광역시 해운대구 &#183; 4개월전</span>
                <span class="sprite spriteMore"></span>
              </dt>
              <dd class="dealReview__review">너무 감사합니다&#33;</dd>
            </dl>
          </a>
        </li> 
      </ul>
    </section>

    <!-- 프로필 하단 앱 관련 여러 사항들 부분 -->
    <section class="profileBottom">
      <h3 class="a11yHidden">프로필 하단 앱 관련 목록</h3>

      <ul class="profileBottom__list">

        <!-- a, span 태그 클래스 수정, id 추가 -->
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="storedQuestion">
          보관 질문</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="appSetting" >
            설정</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="officialBlog" >
           지식 iN 공식 블로그</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="servicInformation">
            서비스 정보</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="announcement" >
            공지사항</a>
        </li>
        <li class="profileBottom__item">
          <a href="/" class="profileBottom__link" id="logout">
            로그아웃 <span class="loginId">rabbit</span></a>
        </li>
      </ul>
    </section>

  </div>
</body>
</html>