<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profileCard page</title>
</head>

<body>
  <div class="profileEdit">
    <h2 class="a11yHidden">프로필수정 화면</h2>

    <p class="profileEdit__page">
      프로필수정
      <a href="/profile.html" class="backProfile"></a>
    </p>

    <div class="profileCard">
      <h3 class="a11yHidden">프로필카드 화면</h3>

      <p class="profileCard__page">
        프로필카드
      </p>

      <section class="myProfileCard">
        <h4 class="a11yHidden">나의 프로필카드</h4>
      </section>

      <section class="profilelInformation">
        <h4 class="a11yHidden">기본 정보</h4>
      </section>

      <section class="additionalInformation">
        <h4 class="a11yHidden">추가 정보</h4>
      </section>
    </div>

  </div>
</body>
</html>