@use "../utils/unit" as *;

//color
$white: #fff;
$black: #121212;
$green: #008F22;
$light-green: #C1D3BE;
$deep-green: 003F21;
$gray-100: #E9E9E9;
$gray-200: #D3D3D3;
$gray-300: #BDBDBD;
$gray-400: #A7A7A7;
$gray-500: #919191;
$gray-600: #747474;
$gray-800: #575757;
$gray-900: #1D1D1D;


//font-size
$text-xs: rem(12px);
$text-sm: rem(14px);
$text-base: rem(16px);
$text-md: rem(18px);
$text-lg: rem(20px);
$text-xl: rem(24px);